{{define "main"}}

<h4>Applications</h4>
<ul>
	<li><a href="//emptyoldcity.z46.icu">Console</a></li>
	<li><a href="//pb.z46.icu/">Pastebin</a></li>
	<li><a href="//proxy2.z46.icu/">Github Proxy</a></li>

</ul>
<h4>Pages</h4>
<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<!--list-->
<ul>
	{{range $paginator.Pages}}
	<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{end}}
</ul>

<!--pagination-->
{{template "_internal/pagination.html" .}}

{{end}}